{% extends "layout.njk" %}

{% block content %}

<body style="background-color:#48659d;":>
  <p style="color: #415a84;">easter egg lol </p>
  <p>hello</p>
  
  <div class="test1">

  </div>
  
</body>

<main>
  <h1 style="color: aliceblue;">{{ title }}</h1>
  <p style="color: aliceblue;">{{ message }}</p>
  <p style="color: aliceblue;">views: {{ views }}</p>
</main>
{% endblock %}