{% extends "layout.njk" %}

{% block content %}

<body style="background-color:#48659d;":>
  <p style="color: #415a84;">easter egg lol </p>
  
  <div class="test1">
  </div>


  
</body>

<main>
  <h1 style="color: aliceblue;">{{ title }}</h1>
  <p style="color: aliceblue;">{{ message }}</p>
  <p style="color: aliceblue;">Nyfikna personer: {{ views }}</p>
</main>

<body>
  <div class="test2">
  <p style="color: aliceblue; font-size: 25px;">Webbtillgänglighet, eller e-tillgänglighet, är den inkluderande metoden att säkerställa att det inte finns några hinder som hindrar interaktion med eller tillgång till webbplatser på World Wide Web av personer med fysiska funktionshinder, situationsmässiga funktionshinder och socioekonomiska begränsningar av bandbredd och hastighet. När sajter är korrekt designade, utvecklade och redigerade har fler användare lika tillgång till information och funktionalitet.
  </p>
  <img src="https://media.licdn.com/dms/image/v2/D4D12AQGDBqrqSVcjIw/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1738390728587?e=2147483647&v=beta&t=mES_UnlOyGK6YXKYQbXy5G2SzbGAj6FRyRfVIGFSbB0" alt="WCAG" width="400">
  </div>

  <div class="test3">
    <p style="color: aliceblue; font-size: 35px; font-family: 'Times New Roman', Times, serif;">"On behalf of the webbtillgänglighet and whole WCAG I would like to extend our greatest gratitude for W3C's invaluable advice for this hardstuck rules, since he is never able to make proper itemization choices on his own! Your participation in making the web and users experience better, will never be forgotten!"</p>
    <p style="color: aliceblue; font-family: 'Times New Roman', Times, serif; font-size: 20px;">-Albert Einstein</p>
  </div>

  <div class="test4">
    <p style="color: aliceblue; font-size: 25px;">Detta ska egentligen vara ett forum där du typ kan skriva om webbtillgänglighet och sånt men sidan är för tilfället ur funktion tills jag vet inte.</p>
  </div>
</body>
{% endblock %}