{% extends "layout.njk" %}

{% block content %}

<body style="background-color:#48659d;":>
  <p style="color: #415a84;">easter egg lol
  </p>
  
</body>

<main>
  <h1>{{ title }}</h1>
  <p>{{ message }}</p>
  <p>views: {{ views }}</p>
</main>
{% endblock %}