body {
    font-family: sans-serif;
    font-size: 1.2rem;
  }
  
  main {
    width: min(100% - 3rem, var(--container-max, 60ch));
    margin-inline: auto;
  }

  .test1 {
    margin: auto;
  }

  .test2 {
    margin: auto;
    padding-top: 6rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .test3 {
    margin: auto;
    padding-top: 6rem;
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .test4 {
    margin: auto;
    padding-top: 6rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 8rem;
  }